## 25th feb assignment

In [ ]:
1:ans:- codes are below:-

In [1]:
import pandas as pd

In [2]:
course_name = ['data science' , 'machine learning' , 'big data' , 'data engineer']

In [3]:
duration = [2,3,6,4]

In [4]:
df = pd.DataFrame(data = {'course_name': course_name ,'duration':duration})

In [5]:
print(df.iloc[1])

course_name    machine learning
duration                      3
Name: 1, dtype: object

In [ ]:
2:ans:- "loc" is label-based and uses the labels of rows or columns to retrieve data.
        The syntax for using loc is df.loc[row_label, column_label]. Here, the row_label can be
        a single label or a list of labels representing the row(s) you want to retrieve, and column_label
        can be a single label or a list of labels representing the column(s) you want to retrieve.
        
        "iloc", on the other hand, is position-based and uses the integer indices of rows or columns
        to retrieve data. The syntax for using iloc is df.iloc[row_index, column_index]. Here, the 
        row_index and column_index can be integers or slices representing the position of the row(s) or
        column(s) you want to retrieve.

In [ ]:
3:ans:- codes are below.
    
    Diffrences are:-
    
    new_df.loc[2] selects the row with index label 2 after reindexing.
    new_df.iloc[2] selects the third row of the DataFrame based on its position after reindexing.
    The key difference is that .loc uses the index label to select rows, whereas .iloc uses the position of the row.

In [6]:
course_name = ['data science' , 'machine learning' , 'big data' , 'data engineer']

In [7]:
duration = [2,3,6,4]

In [8]:
df = pd.DataFrame(data = {'course_name': course_name ,'duration':duration})

In [9]:
new_df = df.reindex([3, 0, 1, 2])

In [10]:
new_df

        course_name  duration
3     data engineer         4
0      data science         2
1  machine learning         3
2          big data         6

In [11]:
new_df.loc[2]

course_name    big data
duration              6
Name: 2, dtype: object

In [12]:
new_df.iloc[2]

course_name    machine learning
duration                      3
Name: 1, dtype: object

In [ ]:
4:ans:- codes are:-

In [13]:
import pandas as pd

In [14]:
import numpy as np

In [15]:
columns = ['column_1' , 'column_2' , 'column_3' ,'column_4' ,'column_5' ,'column_6' ]

In [16]:
indices = [1,2,3,4,5,6]

In [17]:
# creating dataframe

In [18]:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns , index = indices)

In [19]:
mean_df1 = df1.apply(lambda x: x.mean())

print(mean_df1)

column_1    0.560195
column_2    0.497408
column_3    0.518682
column_4    0.548381
column_5    0.601047
column_6    0.481451
dtype: float64

In [20]:
std_deviation = df1['column_2'].std()
print("Standard deviation of 'column_2':", std_deviation)

Standard deviation of 'column_2': 0.3243493609880043

In [ ]:
5:ans:- codes are:-

        error occured beacause if the column 2 is replaced then how can i take out mean of the column2.

In [ ]:
6:ans:-In pandas, a window function is a function that performs a calculation across a sliding window
        of data in a pandas DataFrame. The window size can be fixed or variable, and it can slide over the
        data either continuously or in discrete steps. Window functions are commonly used for calculations
        that require looking at a subset of the data, such as rolling averages, cumulative sums, and rank calculations.

                        There are several types of window functions in pandas:

                                Rolling window functions

                                Expanding window function

                                Exponentially-weighted window function

                                Rolling and expanding apply function.

        Overall, window functions provide a powerful tool for performing complex calculations over subsets of data in a
        pandas DataFrame.

In [ ]:
7:ans:- codes are:-

In [21]:
import pandas as pd

In [22]:
current_time = pd.Timestamp.now()

In [23]:
current_month = current_time.month_name()

In [24]:
current_year = current_time.year

In [25]:
print("Current month and year:", current_month, current_year)

Current month and year: April 2023

In [ ]:
8:ans:-codes are:-

In [1]:
import pandas as pd

In [ ]:
 #Prompt user to enter the first date
date1 = input("Enter the first date (YYYY-MM-DD):")

In [ ]:
# Prompt user to enter the second date
date2 = input("Enter the second date (YYYY-MM-DD): ")

In [ ]:
# Convert the dates to pandas datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

In [ ]:
# Calculate the time difference between the two dates
time_diff = date2 - date1

In [ ]:
# Extract the number of days, hours, and minutes from the time difference
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60

In [ ]:
# Display the result
print(f"The difference between {date1.date()} and {date2.date()} is:")
print(f"{days} days, {hours} hours, and {minutes} minutes.")

In [ ]:
9:ans:- codes are :-

In [1]:
import pandas as pd

In [ ]:
# Prompt the user for the file path, column name, and category order
file_path = input("Enter the file path: ")
column_name = input("Enter the column name: ")
category_order = input("Enter the category order (comma-separated): ").split(",")

In [ ]:
# Read the CSV file
data = pd.read_csv(file_path)

In [ ]:
# Convert the specified column to a categorical data type
data[column_name] = pd.Categorical(data[column_name], categories=category_order)

In [ ]:
# Sort the data by the specified column
sorted_data = data.sort_values(by=column_name)

In [ ]:
# Display the sorted data
print(sorted_data)